
.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;

}
.set-wrapper, .wrapper {
    border: 2px solid saddlebrown;
    background-color: navajowhite;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.display {
    border: 2px solid saddlebrown;
}
.settingsDisplay {
    border: 2px solid saddlebrown;
    margin-bottom: 20px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 20px;
}
.buttons {
    border: 2px solid saddlebrown;
    padding: 10px;
    display: flex;
    justify-content: center;
}


.area {
    display: flex;
    justify-content: space-between;


}